/* src/components/Header.css */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    background: linear-gradient(to right, #000, #2b0016); 
  }
  
  .header-content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1200px;
  }
  
  .header-right {
    display: flex;
    gap: 30px; 
    align-items: center; 
  }
  
  .header-right a {
    color: #ddd;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    white-space: nowrap; 
  }
  
  .header-right a:hover {
    color: #fff; /
  }
  
  .custom-line {
    width: 100%;
    height: 2px;
    background-color: #444; 
    margin-top: 10px;
    border: none;
    position: relative;
    top: 20px; 
  }
  